@model List<Service>
<div class=" p-2">
	<div class="card shade h-100">
		<div class="card-body " >

			<h5 class="card-title">لیست خدمات </h5>


			<hr>

			<table class="table table-striped m-1" style="overflow: auto; max-height: 100px;">
					<thead>
					<tr>
						<th scope="col">ردیف</th>
						<th scope="col">نام </th>
						<th scope="col">قیمت</th>
						<th scope="col">مذت زمان</th>
						<th scope="col">اسلاگ</th>
						<th scope="col">دسته بندی</th>
						<th scope="col">توضیحات</th>

						<th scope="col"> عکس</th>
						<th scope="col">
							<a asp-area="Admin" asp-controller="Service" asp-action="Upsert" class="btn o-primary  text-center">اضافه کردن</a>

						</th>

					</tr>
					</thead>
					<tbody>
				 
						@foreach (var service in Model)
						{
							<tr>
								<th scope="row">@service.CategoryId</th>
								<td>@service.ServiceName</td>
								<td>@service.Price</td>

								<td>@service.Duration</td>
								<td>@service.Slug</td>

								<td>
									@if (service.Category != null)
									{
										<p>@service.Category.CategoryName</p>
									}
									else
									{
										<p>دسته‌بندی موجود نیست</p>
									}
								</td>
								<td>@service.Description</td>

								<td>
									<img src="@service.ImageUrl" width="80px" height="80px" />
								</td>
								<td>

									<div class="w-100 btn-group" role="group">
										<a asp-area="Admin" asp-controller="Service" asp-action="Upsert" asp-route-id="@service.ServiceId" class="btn outlined c-warning mx-2">
											<i class="bi bi-pencil-square"></i>ویرایش

										</a>
									<a asp-area="Admin" asp-controller="Service" asp-action="Delete"   asp-route-id="@service.ServiceId"   class="btn outlined c-danger mx-2">
											<i class="bi bi-trash3-fill"></i>حذف

										</a>
										



									</div>
								</td>
							</tr>

						}
				 

					</tbody>
				</table>
		</div>

	</div>
</div>
